FluentStoredProcedureExtensions/.vs/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions/bin/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions/obj/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.Infrastructure/bin/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.Infrastructure/obj/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.UnitTests/bin/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.UnitTests/obj/
FluentStoredProcedureExtensions/packages/
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.AssemblyInfo.cs
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.AssemblyInfoInputs.cache
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.csproj.CopyComplete
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.csproj.CoreCompileInputs.cache
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.csproj.FileListAbsolute.txt
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.csprojAssemblyReference.cache
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.dll
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.pdb
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/Debug/netcoreapp2.0/FluentStoredProcedure.IntegrationTests.Program.cs
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/FluentStoredProcedure.IntegrationTests.csproj.nuget.cache
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/FluentStoredProcedure.IntegrationTests.csproj.nuget.g.props
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/FluentStoredProcedure.IntegrationTests.csproj.nuget.g.targets
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/project.assets.json
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/bin/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.WebUI/bin/Debug/netcoreapp2.0/FluentStoredProcedureExtensions.Core.dll
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.WebUI/bin/
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.WebUI/obj/FluentStoredProcedureExtensions.WebUI.csproj.nuget.cache
FluentStoredProcedureExtensions/FluentStoredProcedureExtensions.WebUI/obj/
FluentStoredProcedureExtensions/FluentStoredProcedure.IntegrationTests/obj/
