
<partial name="_CrudModalPartial" />

<div class="card">
    <div class="card-header">Employees</div>
    <div id="employees-table-container" class="card-body" data-action-url="/Home/">

        <table id="employees-table" class="table table-hover">
            <thead>
                <tr>
                    <td class="align-middle">Id</td>
                    <td class="align-middle">Name</td>
                    <td class="align-middle">Email</td>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-serialize-object/jquery.serialize-object.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-modal-controller.min.js"></script>
    <script src="~/js/data-tables/data-tables-controller.min.js"></script>
    <script src="~/js/employee-index.min.js"></script>
}